*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.outer-box{
    width: 100vw;
    height:100vh;
    background:aqua
}
.inner-box{
    width:320px;
    margin:0 auto;
    position:relative;
    top: 10%;
    padding:20px 40px;
    background :linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px burlywood;
    z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color: black;
}
.signup-header{
    font-size: 0.9rem;
    color: black;
}

.signup-body{
    margin:20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    padding: 10px;
    border : 2px solid white;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 8px;
}
.signup-body p input[type="submit"]{
    background-color:blueviolet;
    border: none;
    color:white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
background-color: lightcoral;
}
.signup-footer p{
    color:#555;
    text-align: center;
}

.signup-footer p a{
    color:#555;
}
.circle{
width:200px;
height:200px;
border-radius:100px;
background: linear-gradient(to right,#ffffffaa,#ffffffff);
position: absolute;
}

.c1{
    top:20px;
    left:40px;

}
.c2{
    bottom: 20px;
    right:30px;
}










